<%- include('partials/header') %>
    <div class="form login">
        <h2>NJALA SRMS FORGOT PASSWORD</h2>
        <form action="" method="POST">
            <label for="email">
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </label>

            <button>Reset</button>
        </form>
    </div>
<%- include('partials/footer') %>
