<%- include('partials/header') %>
    <div class="form login">
        <h2>NJALA SRMS RESET PASSWORD</h2>
        <form action="" method="POST">
            <label for="password">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </label>

            <label for="confirm_password">
                <input type="password" name="confirmpassword" id="confirm_password" placeholder="Confirm Password">
            </label>

            <button>Save</button>
        </form>
    </div>
<%- include('partials/footer') %>
